__pycache__/
*.pyc
.env
venv/
.env.*
.idea/
.vscode/
# Editor/IDE
# JetBrains
*.iml

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Local env
env/
venv/

# Database
*.db

# Logs
*.log